HUACHAT_INGRESS_TOKEN=
GOOGLE_SPREADSHEET_ID=1g96wjgMSGMhXrzLGwCAIQic_mYkS8xsThxJryfFHJ2A
GOOGLE_SHEET_NAME=2026.07
WORKFLOW_EXECUTION_URL=https://workflowexecutions.googleapis.com/v1/projects/gen-lang-client-0394580582/locations/europe-west1/workflows/pricing-request-sandbox/executions
